{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('page_index') }}
{% endblock %}
