{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('welcome-page') }}
{% endblock %}

{% block body %}
    <div id="welcome-page"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('welcome-page') }}
{% endblock %}

