{% extends 'base.html.twig' %}

{% block title %}{% if alert is defined %} Update{% else %} Create{% endif %} alert{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('alerts_form') }}
{% endblock %}

{% block body %}
    <div id="root"
        {% if alert is defined %}
            data-alert-id="{{ alert.id }}"
        {% endif %}
    ></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('alerts_form') }}
{% endblock %}

