{% extends 'base.html.twig' %}

{% block title %}{% if table is defined %} Update{% else %} Create{% endif %} table{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('database_form') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.clickhouseTypes = {{ types | raw }};
        {% if table is defined %}
        window.table = "{{ table }}";
        {% endif %}
    </script>
    {{ encore_entry_script_tags('database_form') }}
{% endblock %}

