{% extends 'base.html.twig' %}

{% block title %}Database table{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('database_tables') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('database_tables') }}
{% endblock %}

