.spinner-border {
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused, .sidebar-mini.sidebar-collapse .main-sidebar:not(:hover) {
  .brand-link {
    .brand-image {
      float:none;
      margin-left: -1rem;
      transform: scale(0.6);
    }
  }
}
