$fw-medium: 500;

body {
  font-weight: $fw-medium;
}

.authentication-background {
  background: transparent linear-gradient(241deg, var(--bs-primary) 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.min-h-100 {
  min-height: 100vh;
}

.btn-link {
  text-decoration: none;
}

.fw-medium {
  font-weight: $fw-medium;
}

.content-wrapper {
  background-color: #F8F9FA;
  max-height: 100vh;
  overflow: auto;
}

.wrapper {
  width: calc(100% - 254px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar {
  padding: .15rem 0 .15rem 1.25rem;
  z-index: 1;
}
