.setting-profile {
  .nav {
    .nav-item {
      button {
        color: black;
        border-radius: unset;
        padding: .25rem .5rem;
      }
      .active, button:hover {
        background: none;
        border-bottom: 2px solid var(--bs-primary);
        color: var(--bs-primary);
      }
    }
  }
}
