.setting-profile {
  .nav {
    .nav-item {
      a {
        font-size: 1.125rem;
        color: black;
        border-radius: unset;
        padding: .85rem;

        &:hover {
          background: #E2E6EA 0% 0% no-repeat padding-box;
        }
      }
      .active{
        background: none;
        border-bottom: 2px solid var(--bs-primary);
        color: var(--bs-primary);
      }
    }
  }
  .header {
    font: normal normal 500 20px/27px Manrope;
  }
}
