.dashboard-page {
  .dropdown {
    cursor: pointer;
  }
  .dashboard-dropdown {
    min-width: 269px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px #00000029;

    li:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }
  }
  .action-dropdown {
    i {
      font-size: 1.625rem;
      margin-top: 3px;
    }
  }
  .select-down {
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  .dashboard-content {
    .dashboard-empty-widget {
      border: 1px dashed var(--bs-secondary);
      border-radius: 4px;
      width: 524px;
      height: 448px;
      .empty-widget-icon {
        width: 40%;
      }
      .sub-title {
        color: #b5babf;
      }
    }
  }
}
