.dashboard-page {
  font-size: 85%;
  .card {
    .card-header {
      border-bottom: none;
    }
    .card-body {
      .widget-table {
        max-height: 250px;
        overflow: auto;

        .card-header {
          border-bottom: none;
        }
      }
    }
  }
  .advanced-search {
    .input-search {
      margin-bottom: 0;
    }
  }
  .spinner {
    right: 45%;
    top: 40%;
  }
  .float-chart {
    .switcher label {
      margin-bottom: 0;
    }
    .card-header>.card-tools [data-card-widget=collapse] {
      display: none;
    }
  }
}
