.login-screen {
  background: transparent linear-gradient(241deg, var(--bs-primary) 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  .login-form-component {
    max-width: 25.813 rem;
    max-height: 26.188 rem;
  }
}
