.database-page {
  .project-list {
    li.active {
      background: #99d2ee 0% 0% no-repeat padding-box !important;
      transform: scaleX(1) !important;
    }
    li.active button:focus {
      box-shadow: none;
    }
    li {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scaleX(1.075);
        background: #fafcfc 0% 0% no-repeat padding-box;
      }
    }
  }
  #create-new-table {
    .modal-title {
      font-size: 20px;
    }
  }
}
