.advanced-search {
  background: #e2e6ea 0% 0% no-repeat padding-box;
  border: 1px solid #dee2e7;
  border-radius: 4px;
  .input-search {
    #date-range {
      border: 1px solid #ced4da;
    }
  }
}
