.title-info {
  .btn-info {
    width: 20px;
    height: 20px;
    font-size: .8rem;
    line-height: -1rem;
    cursor: pointer;

    &:hover {
      .quote-info {
        display: block;
      }
    }
  }

  .quote-info {
    background-color: white;
    margin: 5px 0;
    color: black;
    display: none;
    width: auto;
    text-align: left;
    position: absolute;
    z-index: 9;
  }
}
