.log-detail-sidebar {
  ul {
    padding-inline-start: unset;
    list-style-type: none;

    p.collapse:not(.show) {
      display: block;
      height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .collapsing {
      height: 1.5rem;
    }
  }
  width: calc(100% / 4);
}
