.widget-list {
  .widget-item {
    cursor: pointer;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e2e6ea;
    width: 10.125rem;
    height: 10.125rem;
    margin: 1.25rem 0 0 1.25rem;
    border-radius: 5px;

    .fas {
      font-size: 1.5rem;
    }
  }

  .border-dashed {
    border: 1px dashed #58a4d9;
  }

  .rounded-circle {
    width: 72px;
    height: 72px;
    font-size: 25px;
  }

  .feather {
    width: 35px;
    height: 35px;
  }

  .bg-widget {
    background: var(--bs-info) 0% 0% no-repeat padding-box;
  }

  .bg-count {
    background: var(--bs-primary) 0% 0% no-repeat padding-box;
  }

  .bg-table {
    background: var(--bs-highlight) 0% 0% no-repeat padding-box;
  }

  .modal-widget-detail {
    .modal-body {
      padding: 0;
      .parent-row {
        margin: 0;
        .col:first-child {
          border-right: 1px solid #e9ecef;
        }
      }
      .widget-info {
        padding: 1rem 2rem;
      }
      .table-responsive {
        max-height: 635px;
      }
    }
  }
}
