{% extends 'base.html.twig' %}

{% block title %}{% if dashboard is defined %}Update{% else %}Create{% endif %} dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard_form') }}
{% endblock %}

{% block body %}
    <div id="root"{% if dashboard is defined %} data-dashboard="{{ dashboard.id }}"{% endif %}></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_form') }}
{% endblock %}
