{% extends 'base.html.twig' %}

{% block title %}Dashboards{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard_list') }}
{% endblock %}

{% block body %}
    <div id="root" data-role="{{ userRole() }}"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_list') }}
{% endblock %}
