<p>{% trans %}Dear{% endtrans %} {{ firstName }}!</p>
<p>{% trans %}Please click button bellow to reset your password{% endtrans %}</p>
<p><a href="{{ resetUrl }}">{% trans %}Active my account{% endtrans %}</a></p>
<p>{% trans %}Problems with the button?{% endtrans %}</p>
<p>{% trans %}Copy and paste this URL into your browser{% endtrans %}</p>
<p>{{ resetUrl }}</p>
<p>{% trans %}or get in touch by sending us an email to{% endtrans %} {{ email_support }}</p>