{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_form') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        {% if user is defined %}
        window.user = "{{ user.id }}";
        {% endif %}
    </script>
    {{ encore_entry_script_tags('user_form') }}
{% endblock %}

